<div class="container">

  <h1>Cadastro</h1>

  <div class="form-group">
    <label>Tipo de usuário</label>
    <select [(ngModel)]="tipo" [class.invalid]="campoInvalido('tipo')">
      <option value="">Selecione</option>
      <option value="paciente">Paciente</option>
      <option value="cuidador">Cuidador</option>
      <option value="medico">Médico</option>
    </select>
  </div>

  <div class="form-group">
    <label>Nome</label>
    <input type="text" [(ngModel)]="nome" [class.invalid]="campoInvalido('nome')">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="email" [class.invalid]="campoInvalido('email')">
  </div>

  <div class="form-group">
    <label>Senha</label>
    <input type="password" [(ngModel)]="senha" [class.invalid]="campoInvalido('senha')">
  </div>
    <div class="form-group">
    <label>CPF</label>
    <input type="text" [(ngModel)]="cpf" [class.invalid]="campoInvalido('cpf')">
  </div>



  <!-- MÉDICO -->
  <div *ngIf="tipo === 'medico'" class="form-group">
    <label>CRM</label>
    <input type="text" [(ngModel)]="crm" [class.invalid]="campoInvalido('crm')">
  </div>

  <div *ngIf="tipo === 'medico'" class="form-group">
    <label>Especialidade</label>
    <input type="text" [(ngModel)]="especialidade" [class.invalid]="campoInvalido('especialidade')">
  </div>

  <button (click)="cadastrar()">Cadastrar</button>

  <!-- 🔥 ROUTERLINK FUNCIONANDO -->
  <a routerLink="/">Voltar para login</a>

</div>