<div class="container">

  <!-- BOAS-VINDAS -->
  <div class="welcome">

    <h1>
      Olá, Cuidador 👋
    </h1>

    <p>
      Aqui está o resumo diário do paciente!
    </p>

  </div>

  <!-- GRID -->
  <div class="grid">

    <!-- VINCULAR PACIENTE -->
<div class="card card-click">
  <h2>
    🔗 Vincular Paciente
  </h2>

  <div class="form-vinculo">

    <input
      type="email"
      [(ngModel)]="emailPaciente"
      placeholder="Digite o e-mail do paciente"
    />

    <button (click)="vincularPaciente()">
      Vincular paciente
    </button>

  </div>

  <div
    class="vinculo-sucesso"
    *ngIf="pacienteVinculado"
  >
    ✅ {{ pacienteVinculado.nome }}
  </div>

  <div
    class="vinculo-erro"
    *ngIf="erroVinculo"
  >
    ❌ {{ erroVinculo }}
  </div>

</div>

    <!-- AGENDA DO DIA -->
    <div
      class="card agenda-full"
      routerLink="/cuidador-agenda"
    >

      <h2>
        📅 Agenda do dia
      </h2>

      <div class="agenda-list">

        <div
          class="agenda-item"
          *ngFor="let atividade of atividades"
        >

          <p>

            <span *ngIf="atividade.feito">
              ✅
            </span>

            <span *ngIf="!atividade.feito">
              ⏳
            </span>

            {{ atividade.titulo }} - {{ atividade.horario }}

          </p>

        </div>

        <div
          class="agenda-item"
          *ngIf="atividades.length === 0"
        >

          <p>
            Nenhuma tarefa cadastrada hoje.
          </p>

        </div>

      </div>

      <button
        routerLink="/cuidador-agenda"
        (click)="$event.stopPropagation()"
      >
        Adicionar Novas Atividades
      </button>

    </div>

    <!-- MEDICAÇÕES -->
    <div
      class="card agenda-full"
      (click)="abrirModalMedicacao()"
    >

      <h2>
        💊 Medicações
      </h2>

      <div
        class="item item-medicacao"
        *ngFor="let med of medicacoes; let i = index"
      >

        <div class="med-info">

          <span>
            {{ med.nome }}
          </span>

          <span>
            {{ med.horario }}
          </span>

        </div>

        <div class="acoes-medicacao">

          <button
            class="btn-editar"
            (click)="editarMedicacao(i); $event.stopPropagation()"
          >
            ✎
          </button>

          <button
            class="btn-remover"
            (click)="removerMedicacao(i); $event.stopPropagation()"
          >
            X
          </button>

        </div>

      </div>

      <p
        class="vazio"
        *ngIf="medicacoes.length === 0"
      >
        Nenhuma medicação cadastrada.
      </p>

      <button
        (click)="abrirModalMedicacao(); $event.stopPropagation()"
      >
        + Adicionar Medicação
      </button>

    </div>

<!-- AGENDA ANUAL -->

<div
  class="card agenda-full"
  routerLink="/agenda-anual"
>

  <div class="agenda-anual-card">

    <div class="conteudo">

      <h2>
        🗓️ Agenda Anual
      </h2>

      <div class="mini-calendario">

        <div class="mes">
          {{ mesAtual }}
        </div>

        <div class="dias-grid">

          <span
            *ngFor="let dia of diasDoMes"
            [class.hoje]="dia === diaAtual"
          >
            {{ dia }}
          </span>

        </div>

      </div>

    </div>

    <div class="seta">
      ›
    </div>

  </div>

</div>

    <!-- ALERTAS -->
<div class="card alertas">

  <h2>
    🔔 Alertas
  </h2>

  <div
    class="alerta"
    *ngFor="let alerta of alertasPaciente"
  >
    ⚠ {{ alerta }}
  </div>

  <div
    class="alerta-vazio"
    *ngIf="alertasPaciente.length === 0"
  >
    ✅ Nenhum alerta encontrado.
  </div>
</div>


    <!-- OBSERVAÇÕES -->
<div class="card card-click">

  <h2>
    📝 Observações
  </h2>

  <input
    type="email"
    [(ngModel)]="emailDestino"
    placeholder="Digite o e-mail que vai receber"
    class="input-email"
  />

  <textarea
    [(ngModel)]="observacaoPaciente"
    placeholder="Digite observações do paciente..."
  ></textarea>

  <button (click)="enviarObservacaoEmail()">
      Enviar Observação
  </button>


  </div>

</div>

<!-- MODAL MEDICAÇÃO -->
<div
  class="overlay"
  *ngIf="mostrarModalMedicacao"
>

  <div class="modal-medicacao">

    <h2>
      {{
        editandoIndex !== null
          ? 'Editar Medicação'
          : 'Nova Medicação'
      }}
    </h2>

    <input
      type="text"
      placeholder="Nome da medicação"
      [(ngModel)]="nomeMedicacao"
    />

    <input
      type="time"
      [(ngModel)]="horarioMedicacao"
    />

    <label
      class="checkbox-reset"
      *ngIf="editandoIndex !== null"
    >

      <input
        type="checkbox"
        [(ngModel)]="medicacaoTomada"
      />

      Paciente já tomou esta medicação

    </label>

    <div class="modal-botoes">

      <button
        class="btn-cancelar"
        (click)="fecharModalMedicacao()"
      >
        Cancelar
      </button>

      <button
        class="btn-salvar"
        (click)="salvarMedicacao()"
      >
        Salvar
      </button>

    </div>

  </div>

</div>