<!-- jogo-memoria.html -->

<div class="container">

  <div class="topo">

    <h1>🧠 Jogo da Memória</h1>
  </div>

  <div class="grid">

    <div
      class="carta"
      *ngFor="let carta of cartas"
      [class.virada]="carta.virada || carta.encontrada"
      (click)="virarCarta(carta)"
    >

      <div class="frente">
        ?
      </div>

      <div class="verso">

        <img
          [src]="carta.imagem"
          [alt]="carta.nome"
        >

        <span>
          {{ carta.nome }}
        </span>

      </div>

    </div>

  </div>

</div>

<div
  class="trofeu-overlay"
  *ngIf="mostrarTrofeu"
>

  <div class="trofeu-card">

    <div class="trofeu-icone">
      🏆
    </div>

    <h2>
      Parabéns!
    </h2>

    <p>
      Você completou o jogo da memória!
    </p>

  </div>

</div>