<div class="layout">


    <div class="welcome">

      <h1>
        Bem-vindo! {{ nome }}
      </h1>

      <p>
        Sua rotina de hoje está organizada para ajudar
        no seu cuidado e bem-estar.
      </p>

    </div>

    <div class="grid">

  <!-- MEDICAÇÃO -->
<div class="card">

  <div class="card-top">

    <h2>
      💊 Medicação
    </h2>

  </div>

  <div
    class="medicacao-item"
    *ngFor="let med of medicacoes; let i = index"
  >

    <input
      type="checkbox"
      [checked]="med.tomado"
      [disabled]="med.tomado"
      (change)="marcarComoTomado(i)"
    />

    <div class="info">

      <strong>
        {{ med.nome }}
      </strong>

      <span>
        Horário: {{ med.horario }}
      </span>

    </div>

    <span
      class="status"
      [class.tomado]="med.tomado"
      [class.pendente]="!med.tomado"
    >

      {{
        med.tomado
          ? 'Tomado'
          : 'Pendente'
      }}

    </span>

  </div>

</div>

      <!-- MEMÓRIA -->

      <div
        class="card"
        (click)="irParaAtividade()"
      >

        <h2>
          🧠 Hora da atividade de memória
        </h2>

        <p>
          Combine as figuras iguais.
        </p>

        <div class="memory-preview">

          <div class="memory-card">🐶</div>
          <div class="memory-card">🐱</div>
          <div class="memory-card">🐶</div>
          <div class="memory-card">🐱</div>

        </div>

        <button>
          Começar atividade
        </button>

      </div>

      <!-- AGENDA -->

      <div
        class="card agenda-full"
        (click)="abrirAgenda()"
      >

        <h2>
          📅 Agenda do dia
        </h2>

        <div class="agenda-list">

          <div
            class="agenda-item"
            *ngFor="let t of tarefas"
          >

            <p>

              <span *ngIf="t.feito">
                ✅
              </span>

              <span *ngIf="!t.feito">
                ⏳
              </span>

              {{ t.titulo }} - {{ t.horario }}

            </p>

          </div>

          <div
            class="agenda-item"
            *ngIf="tarefas.length === 0"
          >

            <p>
              Nenhuma tarefa cadastrada hoje.
            </p>

          </div>

        </div>

      </div>

      <!-- AGENDA ANUAL -->

      <div
        class="card agenda-anual-card"
        (click)="irParaAgendaAnual()"
      >

        <div class="conteudo">

          <h2>
            🗓️ Agenda Anual
          </h2>

          <div class="mini-calendario">

            <div class="mes">
              {{ mesAtual }}
            </div>

            <div class="dias-grid">

              <span
                *ngFor="let dia of diasDoMes"
                [class.hoje]="dia === diaAtual"
              >
                {{ dia }}
              </span>

            </div>

          </div>

        </div>

        <div class="seta">
          ›
        </div>

      </div>

    </div>

  </div>

